:root {
  --primary-color: #434455;
  --title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-hover-btn: #404bbf;
  --text-footer: #f4f4fd;
  --header-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--header-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}
.logo-text {
  color: var(--title-color);
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--background-hover-btn);
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--background-hover-btn);
}
/* section 1  */
.hero {
  background-color: var(--title-color);
}
.caption {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--header-color);
  background-color: var(--accent-color);
}
.order-button:hover,
.order-button:focus {
  color: var(--header-color);
  background-color: var(--background-hover-btn);
}

/* section 2 */
.suptitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
/* section 3 */
.feature-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

/* section 4 our team */
.team {
  background-color: var(--text-footer);
}
.team-item {
  background-color: var(--header-color);
}
/* footer */
.footer {
  background-color: var(--title-color);
}
.footer-text {
  color: var(--text-footer);
}
.logo-second {
  color: var(--text-footer);
}

/* portfolio */
.portfolio-btm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-footer);
}
.portfolio-btm:hover,
.portfolio-btm:focus {
  color: var(--header-color);
  background-color: var(--background-hover-btn);
}
